<div class="chat-box" id='<%= message.user_id %>'>
  <div class="chat-area">

    <% if message.user_id == (session[:user_id] || current_user) %>
      <div class="time-id-info-mine">
        <p><%= "#{message.user_name} #{simple_time(message.created_at)}" %></p>
      </div>
      <div class="chat-balloon-line-mine">
        <div class="chat-balloon-mine">
          <% if message.content.present? && message.attachment_data.nil? %>
            <pre id="msg_id"><%= message.content %></pre>
          <% elsif message.content.empty? && message.attachment_data.present? %>
            <pre id="msg_id" class="image-link">
              <%= link_to "View #{message.attachment.original_filename}",
                message.attachment.url, target: '_blank' %>
            </pre>
          <% elsif message.content.present? && message.attachment_data.present? %>
            <pre id="msg_id" class="image-link">
              <pre><%= message.content %></pre><br>
              <%= link_to "View #{message.attachment.original_filename}",
                message.attachment.url, target: '_blank' %>
            </pre>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="time-id-info">
        <p><%= "#{message.user_name} #{simple_time(message.created_at)}" %></p>
      </div>
      <div class="chat-balloon-line">
        <div class="chat-balloon">
          <% if message.content.present? && message.filename.nil? %>
            <pre id="msg_id"><%= message.content %></pre>
          <% elsif message.content.empty? && message.attachment_data.present? %>
            <pre id="msg_id">
              <%= link_to "View #{message.attachment.original_filename}",
                message.attachment.url, target: '_blank' %>
            </pre>
          <% elsif message.content.present? && message.attachment_data.present? %>
            <pre id="msg_id">
              <pre><%= message.content %></pre><br>
              <%= link_to "View #{message.attachment.original_filename}",
                message.attachment.url, target: '_blank' %>
            </pre>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>