<% provide(:title, "ROOM Select") %>

<div class="main-page-select">
  <div class="over-scroll">
    <div class="user-name">
      <div class="user-name-value"><p>NAME： <%= @user.name %></p></div>
      <%= link_to edit_user_path(@user.id), class: 'link-none' do %>
        <div class="search-button">CHANGE</div>
      <% end %>
    </div>
    <div class="room-search">
      <form>
        <%= form_tag rooms_path, method: 'get' do %>
          <div class="form-label"><p>ROOM SEARCH</p></div>
          <%= text_field_tag :search, params[:search], class: "text-input-form" %>
          <%= submit_tag "SEARCH", name: nil, class: "search-button link-none" %>
        <% end %>
        <%= link_to new_room_path, class: 'link-none' do %>
          <div class="search-button">CREATE</div>
        <% end %>
        <%= link_to chat_rooms_path, class: 'link-none' do %>
          <div class="search-button">RANDOM TALK</div>
        <% end %>
      </form>
    </div>

    <div class="room-content">
      <div class="room-content-title"><p><%= @room_heading %></p></div>
      <div class="active-room">
        <%= render @rooms %>
      </div>
    </div>
  </div>
</div>