<% provide(:title, "ROOM") %>
<div class="main-view">

<div id="chat-scroll" class="messages">
  <div id="messages", data-room_id="<%= @room.id %>" class="chat-view-area">
    <%= render @messages %>
  </div>
</div>

<div class="nav">
  <div class="back-button">
    <%= link_to rooms_path, class: "back-link" do %>
      <p>Back</p>
    <% end %>
  </div>
  <div class="room-title"><p><%= @room.name %></p></div>
    <div class="edit-button">
      <%= link_to controller: "articles", action: "new", room_id: @room.id do %>
        <p>EDIT</p>
      <% end %>
    </div>
</div>

<%= form_with url: '#', html: {id: 'new-message'} do |f| %>
  <div class="image-send-form">
    <%= f.file_field :attachment, id: 'message-attachment' %>
    <br>
    <small>Only PNG JPG GIF </small>
  </div>
<% end %>

<form class="send-form">
  <div class="send-form-position">
    <textarea data-behavior="room_speaker" class="text-input-area" wrap="hard" placeholder="Shift + Enter" id="message_textarea"></textarea>
    <a class="chat-menu-button" data-behavior="room_speaker_button" id="send-button">Say</a>
    <a class="chat-menu-button" id="image-form-view">＋</a>
    <a class="chat-menu-button" id="scroll_down_button">⬇</a>
  </div>
</form>
</div>
